{% extends 'main/layout.html' %}
{% load static %}

{% block content %}
<h2 class="Auth_title"> Создание новости </h2>
<div class="news-container">

    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <section class="news-container-content">

        {% if user_form.errors %}
            {% for key, value in user_form.errors.items %}
                <strong class="error-message">{{ value }}</strong>
            {% endfor %}
        {% endif %}
        <!-- Содержимое профиля: изображение, описание,  -->
        <div class="form-group">
                <p>{{ form.image.label_tag }}</p>
                <p>{{ form.image }}</p>
            </div>
        <div class="news-container-text">
             <div class="form-group">
                <p>{{ form.title.label_tag }}</p>
                <p> {{ form.title }}</p>
            </div>
            <div class="form-group">
                <p>{{ form.content.label_tag }}</p>
                <p>{{ form.content }}</p>
            </div>

            <div class="form-group">
                <p>{{ form.tags.label_tag }}</p>
                <p>{{ form.tags }}</p>
            </div>


        </div>
        <div class="news-container-text">
            <button class="add-font" type="submit">Добавить новость</button>
            <button class="add-font" type="button" onclick="window.location.href='{% url 'home' %}'; return false;">Назад</button>

        </div>
    </section>
     </form>
</div>
{% endblock %}