{% extends 'main/layout.html' %}
{% load static %}

{% block content %}
<div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <h2 class="Auth_title">Редактировать Новость</h2>
            <div>
                <p>{{ form.title.label_tag }}</p>
                <p>{{ form.title }}</p>
            </div>
            <div>
                <p>{{ form.content.label_tag }}</p>
                <p>{{ form.content }}</p>
            </div>
            <div>
                <p>{{ form.image.label_tag }}</p>
                <p>{{ form.image }}</p>
            </div>
            <div>
                <p>{{ form.tags.label_tag }}</p>
                <div class="tooltip">
                    {{ form.tags }}
                    <span class="tooltiptext">Удерживайте Ctrl (или Command на Mac), чтобы выбрать несколько тегов.</span>
                </div>
            </div>
            <p><button type="submit">Сохранить</button></p>
        </div>
    </form>
</div>
{% endblock %}
