{% extends 'main/layout.html' %}
{% load static %}

{% block content %}
<h2 class="Auth_title"> Редактирование новости </h2>
<div class="news-container">

    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <section class="news-container-content">

        {% if user_form.errors %}
            {% for key, value in user_form.errors.items %}
                <strong class="error-message">{{ value }}</strong>
            {% endfor %}
        {% endif %}

            <div class="news-container-text2">
                    <p>Изображение новости (картинки обрезаются до 300x300):</p>
                    <div class="custom-file-upload">
                        <label for="file-upload" class="file-upload-label">Выберите файл</label>
                        {{ form.image }}
                        <span id="file-name"></span>
                    </div>
                </div>

             <div class="news-container-text2">
                    <div class="form-group">
                        <p>{{ form.title.label_tag }}</p>
                        <p>{{ form.title }}</p>
                    </div>
                    <div class="form-group">
                        <p>{{ form.content.label_tag }}</p>
                        <p>{{ form.content }}</p>
                    </div>
                     <div class="form-group">
                        <p>{{ form.tags.label_tag }}</p>
                            <div class="tooltip">
                                {{ form.tags }}
                            </div>
                     </div>
            </div>
                    <div class="news-container-text2">
                         <button class="add-font" type="submit">Сохранить изменения</button>
                        <button class="add-font" type="reset">Сбросить</button>
                         <div class="separator-line"></div>
                        <button class="add-font" type="button" onclick="window.location.href='{% url 'news' %}'; return false;">Назад</button>
                     </div>
         </section>
    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Получаем элемент выбора файла
        var fileInput = document.querySelector('input[type="file"][name="image"]');
        // Получаем элемент для отображения имени файла
        var fileNameSpan = document.getElementById('file-name');

        // Обработчик события изменения выбора файла
        fileInput.addEventListener('change', function() {
            var file = fileInput.files[0];
            if (file) {
                fileNameSpan.textContent = 'Заменен на: ' + file.name;
            }
        });
    });
</script>
{% endblock %}
