{% extends 'main/layout.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}
<h2 class="Auth_title">Группа {{ group.name }} </h2>
<div class="news-detail-container">

    <section class="news-detail-content">
        <!-- Содержимое профиля: изображение, описание,  -->
         <img src="{{ group.photo.url }}" alt="{{ group.name }}" class="news-inner-image">
        <div class="news-detail-text">
            <p>Название группы: {{ group.name }} </p>
            <p>Описание группы {{ group.description }} </p>
            <p>Тип группы: {{ group.group_type }} </p>
            <p>Основатель: {{ group.creator }}</p>
            <p>Правила группы: {{ group.rules }}</p>
        </div>
        <div class="news-detail-text">
            <div class="separator-line"></div>
            {% if is_creator %}
                <div class="news-reaction-block">
                     <a class="btn-news" href="{% url 'update-profile' %}">Редактировать группу</a>
                </div>
                <div class="news-reaction-block">
                     <button type="button" id="invite-to-group-btn" class="btn-news">
                            Пригласить в группу
                     </button>

                        <!-- Модальное окно -->
                        <div id="invite-modal" class="popup">
                            <div class="popup-content">
                                <span class="close">&times;</span>
                                <h2>Пригласить пользователя в группу</h2>
                                <input type="text" id="username-input" placeholder="Введите username того кого хотите пригласить в группу">
                                <button id="send-invite-btn" class="btn-news">Отправить приглашение</button>
                            </div>
                        </div>
                </div>
            {% else %}
                {% if public_group %}
                <div class="news-reaction-block">
                     <a class="btn-news" href="{% url 'update-profile' %}">Вступить в группу</a>
                 {% else %}
                    {% if secret_group%}
                    {% else %}
                     <p>Группа закрытая. По вопросу вступления в группу обратитесь к администратору</p>
                    {% endif %}
                 {% endif %}
                </div>
            {% endif %}


        </div>
    </section>
</div>

<div class="news-detail-container2">
       <p class="btn-comment-news">Список участников группы:</p>

    {% if group_members %}
            {% for group_member in group_members %}
                <p>{{ group_member.status.name }}</p>
                {% if group_member.profile.avatars %}
                    <a href="{% url 'profile' group_member.profile.user.username %}">
                        <img src="{{ group_member.profile.avatars.0.file.url }}" alt="{{ group_member.profile.firstname }} {{ group_member.profile.lastname }}" width="80">
                    </a>
                {% else %}
                    <a href="{% url 'profile' group_member.profile.user.username %}">
                        <img src="{% static 'images/nophoto.jpg' %}" alt="{{ group_member.profile.firstname }} {{ group_member.profile.lastname }}" width="80">
                    </a>
                {% endif %}
                <a class="profile-name" href="{% url 'profile' group_member.profile.user.username %}">{{ group_member.profile.firstname }} {{ group_member.profile.lastname }}</a>
                {% if is_creator and group_member.status.name != 'admin' %}
                    <a class="btn-news" href="{% url 'update-profile' %}">Исключить</a>
                {% endif %}

            {% endfor %}

    {% else %}
        <p>В группе пока нет людей</p>
    {% endif %}
</div>

<script src="{% static 'js/popup.js' %}"></script>
<script>

    $(document).ready(function() {
    // Открытие модального окна
    $('#invite-to-group-btn').click(function() {
        $('#invite-modal').removeClass('fade-out').addClass('fade-in').show();
    });

    // Закрытие модального окна
    $('.close').click(function() {
        $('#invite-modal').removeClass('fade-in').addClass('fade-out');
        setTimeout(() => $('#invite-modal').hide(), 500); // Задержка для плавного исчезновения
    });

    // Закрытие модального окна при клике вне его
    $(window).click(function(event) {
        if ($(event.target).is('#invite-modal')) {
            $('.close').click(); // Используем обработчик для закрытия
        }
    });

    // Обработка отправки приглашения
    $('#send-invite-btn').click(function() {
        var username = $('#username-input').val().trim();
        var groupId = {{ group.id }}; // Вставьте ID группы

        if (username === '') {
            showAjaxPopup('Пожалуйста, введите имя пользователя.');
            return;
        }

        var csrftoken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

        fetch(`/groups/invite/${username}/${groupId}/`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken,
                'Accept': 'application/json'
            }
        })
        .then(response => response.json())
        .then(data => {
            showAjaxPopup(data.detail);
            if (data.status === 200) {
                $('#invite-modal').removeClass('fade-in').addClass('fade-out');
                setTimeout(() => $('#invite-modal').hide(), 500); // Задержка для плавного исчезновения
            }
        })
        .catch(error => {
            console.error('Error:', error);
            showAjaxPopup('Произошла ошибка. Проверьте консоль для подробностей.');
        });
    });
});


$(document).ready(function() {
    // Функция для установки ширины comments-wrapper и кнопки
    function adjustContentWidth() {
        // Получаем ширину контейнера .news-detail-content
        var contentWidth = $('.news-detail-content').outerWidth();

        // Устанавливаем эту ширину для comments-wrapper
        $('.comments-wrapper').css('width', contentWidth + 'px');
        $('.news-detail-container2').css('width', contentWidth + 'px');
        $('.btn-comment-news').css('width', contentWidth + 'px');


        // Устанавливаем ширину кнопки на 100% от родительского контейнера
        $('#toggle-comments-btn').css('width', '100%');
    }

    // Вызываем функцию при загрузке страницы
    adjustContentWidth();

    // Вызываем функцию при изменении размера окна
    $(window).resize(function() {
        adjustContentWidth();
    });

    // Скрипт для аккордеона запросов дружбы
    $('#toggle-comments-btn').click(function() {
        $('#comments-section').slideToggle(400, function() { // Указываем длительность анимации и функцию обратного вызова
            var isVisible = $('#comments-section').is(':visible');
            $('#toggle-comments-btn').text(isVisible ? 'Скрыть запросы дружбы' : 'Показать запросы дружбы');
        });
    });

    // Обработка отправки запроса на дружбу
    var sendFriendRequestButton = document.getElementById('send-friend-request');
    if (sendFriendRequestButton) {
        sendFriendRequestButton.addEventListener('click', function () {
            var profileId = this.getAttribute('data-profile-id');
            var csrftoken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

            fetch('/friendships/send_request/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken,
                    'Accept': 'application/json'
                },
                body: JSON.stringify({ profile_id: profileId })
            })
            .then(response => response.json())
            .then(data => {
                if (data.detail) {
                    showAjaxPopup(data.detail); // Отображение сообщения
                    sendFriendRequestButton.textContent = 'Запрос отправлен';
                    sendFriendRequestButton.disabled = true;
                } else {
                    showAjaxPopup('Неизвестная ошибка');
                }
            })
            .catch(error => {
                console.error('Error:', error.message);
                showAjaxPopup('Произошла ошибка. Проверьте консоль разработчика для подробностей.');
            });
        });
    }

    document.querySelectorAll('.accept-request').forEach(button => {
        button.addEventListener('click', function() {
            var url = this.getAttribute('data-url');
            var csrftoken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken,
                    'Accept': 'application/json'
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.detail) {
                    showAjaxPopup(data.detail);
                    setTimeout(() => {
                    location.reload();
                }, 2000); // Задержка в 1 секунду для отображения сообщения
                } else {
                    showAjaxPopup('Неизвестная ошибка');
                }
            })
            .catch(error => {
                console.error('Error:', error.message);
                showAjaxPopup('Произошла ошибка при отклонении запроса. Проверьте консоль разработчика для подробностей.');
            });
        });
    });

    document.querySelectorAll('.block-people').forEach(button => {
        button.addEventListener('click', function() {
            var url = this.getAttribute('data-url');
            var csrftoken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken,
                    'Accept': 'application/json'
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.detail) {
                    showAjaxPopup(data.detail);
                    setTimeout(() => {
                    location.reload();
                }, 2000); // Задержка в 1 секунду для отображения сообщения
                } else {
                    showAjaxPopup('Неизвестная ошибка');
                }
            })
            .catch(error => {
                console.error('Error:', error.message);
                showAjaxPopup('Произошла ошибка при отклонении запроса. Проверьте консоль разработчика для подробностей.');
            });
        });
    });


    document.querySelectorAll('.unblock-people').forEach(button => {
        button.addEventListener('click', function() {
            var url = this.getAttribute('data-url');
            var csrftoken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken,
                    'Accept': 'application/json'
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.detail) {
                    showAjaxPopup(data.detail);
                    setTimeout(() => {
                    location.reload();
                }, 2000); // Задержка в 1 секунду для отображения сообщения
                } else {
                    showAjaxPopup('Неизвестная ошибка');
                }
            })
            .catch(error => {
                console.error('Error:', error.message);
                showAjaxPopup('Произошла ошибка при отклонении запроса. Проверьте консоль разработчика для подробностей.');
            });
        });
    });

    document.querySelectorAll('.delete-friend').forEach(button => {
        button.addEventListener('click', function() {
            var url = this.getAttribute('data-url');
            var csrftoken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken,
                    'Accept': 'application/json'
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.detail) {
                    showAjaxPopup(data.detail);
                    setTimeout(() => {
                    location.reload();
                }, 2000); // Задержка в 1 секунду для отображения сообщения
                } else {
                    showAjaxPopup('Неизвестная ошибка');
                }
            })
            .catch(error => {
                console.error('Error:', error.message);
                showAjaxPopup('Произошла ошибка при отклонении запроса. Проверьте консоль разработчика для подробностей.');
            });
        });
    });

    // Обработка отклонения запроса
    document.querySelectorAll('.deny-friend-request').forEach(button => {
        button.addEventListener('click', function() {
            var url = this.getAttribute('data-url');
            var csrftoken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken,
                    'Accept': 'application/json'
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.detail) {
                    showAjaxPopup(data.detail);
                    this.closest('li').remove();
                } else {
                    showAjaxPopup('Неизвестная ошибка');
                }
            })
            .catch(error => {
                console.error('Error:', error.message);
                showAjaxPopup('Произошла ошибка при отклонении запроса. Проверьте консоль разработчика для подробностей.');
            });
        });
    });
});
</script>

{% endblock %}
