{% extends 'main/layout.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}
<h2 class="Auth_title">Список групп  </h2>


<div  class="profile-container-wrapper">

<div class="profile-container-list">
    <div class="filters-list">
        <h3 class="Auth_title"> Работа с группами </h3>
        <div class="news-reaction-block center-text">
                     <a class="btn-news" href="{% url 'update-profile' %}">Создать группу</a>
        </div>
        <h3 class="Auth_title"> Фильтры </h3>
        <form method="get" action="{% url 'groups_list' %}">
            {{ filterset.form.as_p }}
            <button type="submit" class="btn-filter-list">Применить фильтр</button>
            <button class="btn-filter-list"> <a href="{% url 'groups_list' %}" class="no-markers" >Сбросить фильтры</a></button>
        </form>
    </div>

    <div class="profiles-list">
         {% for group in groups %}
            <section class="profile-detail-content">
                <!-- Левый блок с аватаром и именем -->
                    <div class="profile-detail-left">
                              <a href="{% url 'group' group.id %}">
                                <img src="{{ group.photo.url }}" alt="{{ group.name }}" class="news-inner-image">
                            </a>

                            <div class="profile-detail-left">
                                     <a class="profile-name" href="{% url 'group' group.id %}">
                                             {{ group.name }}
                                     </a>
                             </div>
                    </div>
                <!-- Правый блок с деталями профиля -->
                <div class="profile-detail-right profile-detail-text">
                          <p>{{ group.description }}</p>
                        <p>Тип группы: {{ group.get_group_type_display }}</p>
                        <p>Основатель: {{ group.creator }}</p>
                        <p>Правила группы: {{ group.rules }}</p>
                </div>
            </section>
        {% endfor %}
    </div>
</div>
</div>
{% endblock %}
