{% extends 'main/layout.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}
<h2 class="Auth_title add-size">Список групп</h2>

<div class="news-detail-container">
    <!-- Контейнер для фильтров -->
    <div class="filters-list">
        <div class="center-text">
            <a class="btn-filters add-color add-bg" href="{% url 'group_create' %}">Создать группу</a>
        </div>
         <h3 class="Auth_title">Фильтры</h3>
        <form method="get" action="{% url 'groups_list' %}" class="filter-form">
            {{ filterset.form.as_p }}
            <button type="submit" class="btn-filter-list add-font add-color">Применить фильтр</button>
            <button class="btn-filter-list add-font add-color"><a href="{% url 'groups_list' %}" class="no-markers add-color add-bg">Сбросить фильтры</a></button>
        </form>
    </div>

    <!-- Контейнер для списка групп -->
    <div class="profile-list-container">
        <div class="profile-detail-content-new">
            {% for group in groups %}
                <section class="profile-detail-section-new">
                    <!-- Левый блок с аватаром и именем -->
                    <div class="profile-detail-left-new">
                        <div class="profile-image-container-new">

                            <a href="{% url 'group' group.id %}">
                                <img src="{{ group.photo.url }}" alt="{{ group.name }}" class="news-inner-image-new">
                            </a>
                             </a>
                        </div>
                    </div>
                    <!-- Правый блок с деталями профиля -->
                    <div class="profile-detail-right-new">
                        <div class="profile-name-container-new">
                            <a class="profile-name-new add-color add-bg" href="{% url 'group' group.id %}">
                                Группа: "{{ group.name }}"
                            </a>
                         </div>
                        <p>Описание: {{ group.description }}</p>
                        <p>Тип группы: {{ group.get_group_type_display }}</p>
                        <p>Основатель: {{ group.creator }}</p>
                        <p>Правила группы: {{ group.rules }}</p>
                    </div>
                </section>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
