{% extends 'main/layout.html' %}
{% load static %}

{% block content %}
<h2 class="Auth_title"> Список групп </h2>

<div class="group-container-wrapper">
    <div class="group-container">
        <div class="filters">
            <h3 class="Auth_title"> Фильтры </h3>
            <!-- Форма фильтрации -->
           <form method="get">
              {{ filterset.form.as_p }}
              <button type="submit">Применить фильтр</button>
               <a href="{% url 'groups_list' %}">Сбросить фильтры</a>
            </form>
        </div>

        <div class="groups">
            {% for group in groups %}
                <section class="group-detail-content">
                    <!-- Вывод данных группы -->
                    <div class="group-detail">
                        <h4>{{ group.name }}</h4>
                        <p>{{ group.description }}</p>
                        <p>Тип группы: {{ group.get_group_type_display }}</p>
                        <p>Дата создания: {{ group.created_at }}</p>
                    </div>
                </section>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
