<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Дипломная работа</title>
    <meta name="csrf-token" content="{{ csrf_token }}">
    {% load static %}

    <!-- Подключаем JavaScript для всплывающего окна -->
    <script src="{% static 'js/popup.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script defer="defer" src="/static/js/main.a87da44c.js"></script><link href="/static/css/main.54b50635.css" rel="stylesheet">
</head>
<body>
    <noscript>You need to enable JavaScript to run this app.</noscript>

    <!-- Сообщения Django -->
        <div id="django-messages">
        {% if messages %}
            {% for message in messages %}
                <div class="alert {{ message.tags }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    </div>

    <!-- AJAX сообщение -->
    <div id="ajax-popup" class="popup" style="display: none;">
        <p id="ajax-popup-message"></p>
        <button id="close-ajax-popup">Закрыть</button>
    </div>

    <div id="app"
         data-user="{{ user.username }}"
         data-is-authenticated="{{ user.is_authenticated }}"
         data-is-chat-page="false">
    </div>

    <div id="django-content">
        {% block content %}
        {% endblock %}
    </div>


</body>
</html>
