<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Дипломная работа</title>
</head>
<body>
   <noscript>You need to enable JavaScript to run this app.</noscript>
     <div id="app"
       data-user="{{ user.username }}"
       data-is-authenticated="{{ user.is_authenticated }}"
       data-is-chat-page="false">>
   </div>

<div id="django-content">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Подключаем React-приложение с локального сервера разработки -->
    <script src="http://localhost:3000/static/js/bundle.js"></script>
</body>
</html>