<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вы вышли</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Вы вышли</h1>
        <p>Спасибо за посещение. Вы успешно вышли из системы.</p>
        <a href="{% url 'login' %}" class="btn btn-primary">Войти снова</a>
        <a href="{% url 'home' %}" class="btn btn-secondary">На главную страницу</a>
    </div>
</body>
</html>
