{% extends 'main/layout.html' %}
{% load static %}


{% block content %}

<h2 class="Auth_title"> Изменение пароля </h2>
 <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

        {% if user_form.errors %}
            {% for key, value in user_form.errors.items %}
                <strong class="error-message">{{ value }}</strong>
            {% endfor %}
        {% endif %}
    <div class="news-container-text2">
             <div class="form-group">
                <p>{{ form.old_password.label_tag }}</p>
                <p> {{ form.old_password }}</p>
            </div>
            <div class="form-group">
                <p>{{ form.new_password1.label_tag }}</p>
                <p>{{ form.new_password1 }}</p>
            </div>

            <div class="form-group">
                <p>{{ form.new_password2.label_tag }}</p>
                <p>{{ form.new_password2 }}</p>
            </div>
    </div>
    <div class="news-container-text2">
        <button class="add-font add-color add-bg" type="submit">Изменить пароль</button>
         <button class="add-font add-color add-bg" type="button" onclick="window.location.href='{% url 'profile' username %}'; return false;">Назад</button>
     </div>
</form>
{% endblock %}