{% extends 'main/layout.html' %}
{% load static %}

{% block content %}
<div class="news-detail-container">
    <section class="news-detail-content">
        <!-- Содержимое профиля: изображение, описание,  -->
        {% if avatar and avatar.file %}
                <img src="{{ avatar.file.url }}" alt="Avatar" class="news-inner-image">

            {% else %}
                <img src="{% static 'images/nophoto.jpg' %}" alt="No Avatar" class="news-inner-image">
            {% endif %}
        <div class="news-detail-text">
            <p>{{ profile.firstname }} {{ profile.lastname }}</p>
            {% if restricted_view %}
                <p>Пользователь скрыл информацию о себе</p>
            {% else %}
                <p>Возраст: {{ profile.age }}</p>
                <p>Пол: {{ profile.gender }}</p>
                <p>Местоположение: {{ profile.location }}</p>
                <p>Ссылка: <a href="{{ profile.link }}">{{ profile.link }}</a></p>
                <p>Настройки: {{ profile.settings }}</p>

                <p>Интересы: {{ profile.interests.all|join:", " }}</p>
            {% endif %}
        </div>
        <div class="news-detail-text">
            {% if is_owner %}
                <p>Уровень приватности:</p> <p>{{ profile.privacy.name }}: {{ profile.privacy.description }}</p>

            {% endif %}
            <div class="separator-line"></div>
            {% if is_owner %}
                <div class="news-reaction-block">
                     <a class="btn-news" href="{% url 'update-profile' %}">Редактировать</a>
                </div>
            {% endif %}
        </div>
    </section>
</div>

{% endblock %}