{% extends 'main/layout.html' %}
{% load static %}

{% block content %}

<h1>Редактирование профиля</h1>
    {% if user_form.errors %}
                {% for key, value in user_form.errors.items %}
                    <strong>{{ value }}</strong>
                {% endfor %}
    {% endif %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label>Login:</label>
        {{ user_form.username }}

    <h2>Загрузить новый аватар</h2>
        {{ avatar_form.as_p }}
        {{ profile_form.as_p }}
<!--    <p><label>:</label>-->
<!--        {{ profile_form.firstname }}</p>-->
<!--    <p><label>Фамилия:</label>-->
<!--        {{ profile_form.lastname }}</p>-->
<!--    <p><label>Возраст:</label>-->
<!--        {{ profile_form.age }}</p>-->
<!--    <p><label>Пол:</label>-->
<!--        {{ profile_form.gender }}</p>-->
<!--    <p><label>Местоположение:</label>-->
<!--        {{ profile_form.location }}</p>-->
<!--    <p><label>Ссылки:</label>-->
<!--        {{ profile_form.link }}</p>-->
<!--    <p><label>Настройки:</label>-->
<!--        {{ profile_form.settings }}</p>-->
<!--    <p><label>Конфиденциальность:</label>-->
<!--        {{ profile_form.privacy }}</p>-->
<!--    <p><label>Интересы:</label>-->
<!--        {{ profile_form.interests }}</p>-->

    <p><a href="{% url 'password_change' %}">Сменить пароль</a></p>

    <button type="submit">Сохранить изменения</button>
    <button type="reset">Сбросить</button>
    <form action="{% url 'my_profile' %}">
        {% csrf_token %}
        <button>Назад</button>
    </form>

</form>


{% endblock %}