{% extends 'main/layout.html' %}
{% load static %}

{% block content %}
<h2 class="Auth_title"> Редактирование профиля </h2>
<div class="news-container">

    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <section class="news-container-content">

        {% if user_form.errors %}
            {% for key, value in user_form.errors.items %}
                <strong class="error-message">{{ value }}</strong>
            {% endfor %}
        {% endif %}
        <!-- Содержимое профиля: изображение, описание,  -->
        <div class="form-group">
                <p>{{ avatar_form.file.label_tag }}</p>
                <p>{{ avatar_form.file }}</p>
            </div>
        <div class="news-container-text">
             <div class="form-group">
                <p>{{ user_form.username.label_tag }}</p>
                <p> {{ user_form.username }}</p>
            </div>
            <div class="form-group">
                <p>{{ profile_form.firstname.label_tag }}</p>
                <p>{{ profile_form.firstname }}</p>
            </div>

            <div class="form-group">
                <p>{{ profile_form.lastname.label_tag }}</p>
                <p>{{ profile_form.lastname }}</p>
            </div>

            <div class="form-group">
                <p>{{ profile_form.age.label_tag }}</p>
                <p>{{ profile_form.age }}</p>
            </div>

            <div class="form-group">
                <p>{{ profile_form.gender.label_tag }}</p>
                <p>{{ profile_form.gender }}</p>
            </div>

            <div class="form-group">
                <p>{{ profile_form.location.label_tag }}</p>
                <p>{{ profile_form.location }}</p>
            </div>

            <div class="form-group">
                <p>{{ profile_form.link.label_tag }}</p>
                <p>{{ profile_form.link }}</p>
            </div>

            <div class="form-group">
                <p>{{ profile_form.settings.label_tag }}</p>
                <p>{{ profile_form.settings }}</p>
            </div>

                <div class="tooltip">
                    {{ profile_form.interests.label_tag }}
                    {{ profile_form.interests }}

                </div>
                <div class="form-group">
                    <p>>{{ profile_form.privacy.label_tag }}</p>
                    <p>{{ profile_form.privacy}}</p>
                </div>

        </div>
        <div class="news-container-text">
            <button class="add-font" type="submit">Сохранить изменения</button>
            <button class="add-font" type="reset">Сбросить</button>

            <div class="separator-line"></div>
                     <p><a class="btb-update" href="{% url 'password_change' %}">Сменить пароль</a></p>
            <div class="separator-line"></div>
            <button class="add-font" type="button" onclick="window.location.href='{% url 'profile' username %}'; return false;">Назад</button>

        </div>
    </section>
     </form>
</div>
{% endblock %}