{% extends 'main/layout.html' %}
{% load static %}

{% block content %}
    <h1>Профиль пользователя {{ profile.user.username }}</h1>

    <h2>Текущий аватар</h2>
    {% if avatar %}
        <img src="{{ avatar.file.url }}" alt="Avatar" width="200">
    {% else %}
        <p>Аватар не загружен.</p>
    {% endif %}
    <h2>{{ profile.firstname }} {{ profile.lastname }}</h2>

    {% if restricted_view %}
        <p>Пользователь скрыл информаицию о себе</p>
    {% else %}
        <p>Возраст: {{ profile.age }}</p>
        <p>Пол: {{ profile.gender }}</p>
        <p>Местоположение: {{ profile.location }}</p>
        <p>Ссылка: <a href="{{ profile.link }}">{{ profile.link }}</a></p>
        <p>Настройки: {{ profile.settings }}</p>

        <h2>Интересы</h2>
        <ul>
            {% for interest in profile.interests.all %}
                <li>{{ interest.name }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if is_owner %}
    <h2>Уровень приватности</h2>
    <p>{{ profile.privacy.name }}: {{ profile.privacy.description }}</p>
    <p><a href="{% url 'update-profile' %}">Редактировать профиль</a></p>
    {% endif %}
{% endblock %}