{% extends 'main/layout.html' %}
{% load static %}

{% block content %}
<h2 class="Auth_title"> Редактирование группы </h2>
<div class="news-container">

    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <section class="news-container-content">

        {% if user_form.errors %}
            {% for key, value in user_form.errors.items %}
                <strong class="error-message">{{ value }}</strong>
            {% endfor %}
        {% endif %}


         <div class="news-container-text2">
            <p> Аватар группы (картинки обрезаются до 300*300):</p>
        <div class="custom-file-upload">
            <!-- Содержимое профиля: изображение, описание,  -->
                <label for="file-upload" class="file-upload-label">Выберите файл</label>
                {{ form.photo }}
            </div>
            </div>

       <!-- Содержимое профиля: изображение, описание,  -->

        <div class="news-container-text2">
             <div class="form-group">
                <p>{{ form.name.label_tag }}</p>
                <p> {{ form.name }}</p>
            </div>
            <div class="form-group">
                <p>{{ form.description.label_tag }}</p>
                <p>{{ form.description }}</p>
            </div>

            <div class="form-group">
                <p>{{ form.group_type.label_tag }}</p>
                <p>{{ form.group_type }}</p>
            </div>

            <div class="form-group">
                <p>{{ form.rules.label_tag }}</p>
                <p>{{ form.rules }}</p>
            </div>

        </div>
         <div class="news-container-text2">
             <button class="add-font" type="submit">Сохранить изменения</button>
            <button class="add-font" type="reset">Сбросить</button>
             <div class="separator-line"></div>
            <button class="add-font" type="button" onclick="window.location.href='{% url 'groups_list' %}'; return false;">Назад</button>
         </div>
   </section>
 </div>
{% endblock %}