@font-face {
    font-family: 'AmaticSC-Bold';
    src: url('/static/fonts/AmaticSC-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url('/static/images/back2.jpeg'); /* Указываем путь к изображению */
    background-size: cover; /* Изображение будет масштабироваться, чтобы покрыть весь экран */
    background-position: center; /* Центрируем изображение */
    background-repeat: no-repeat; /* Избегаем повторения изображения */
    background-attachment: fixed; /* Изображение фиксируется и не прокручивается с контентом */
    /*background-color: #d3e2df;  Черный фон для всего сайта */
    color: #0e0d0d; /* Белый цвет текста по умолчанию */
    font-family: 'AmaticSC-Bold', sans-serif;
    font-size: 20px;
}

nav a {
    background-color: #7ca5db;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px #9dd5ebb3;
    color: #ffffff;
    display: inline-block;
    margin-right: 15px;
    padding: 10px 15px;
    text-decoration: none;
    transition: box-shadow .3s ease, transform .3s ease
}

nav a:hover {
    box-shadow: 0 0 15px 4px #98d3ebb3;
    transform: scale(1.3);
    background: #ffffff;
    color: #000;
}

.container .welcom {
    background-color: #7ca5db;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px #98d3ebb3;
    color: #ffffff;
    display: flex;
    justify-content: center;
    margin-right: 15px;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .3s ease
}

.container .welcom:hover {
    box-shadow: 0 0 15px 4px #86c9e4b3
}  

.container {
    margin: 0 auto;
    width: 80%;
    padding: 0 15px
}

.header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 10px 0
}

.main {
    padding: 5px 0
}

.header-left,
.header-right {
    align-items: center;
    display: flex
}

.header-right>* {
    margin-left: 15px
}

h2 {
    color: #0e0d0d
}

form {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px
}

form button,
form input[type=NumberInput],
form input[type=Number],
form input[type=email],
form input[type=password],
form input[type=text],
form select,
form textarea {
    background-color: #7ca5db;
    border: 2px solid #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px #9dd5ebb3;
    color: #0e0d0d;
    margin: 10px 0;
    max-width: 300px;
    padding: 10px;
    transition: box-shadow .3s ease;
    width: 100%
}

form button {
    cursor: pointer
}

form button:hover {
    box-shadow: 0 0 15px 4px #9dd5ebb3
}

form textarea {
    min-height: 100px;
    resize: vertical
}

form select[multiple] {
    height: auto;
    min-height: 100px;
    overflow: auto
}

form select option,
form select[multiple] {
    background-color: #7ca5db;
    color: #0e0d0d
}

form label {
    color: #0e0d0d;
    margin-bottom: 5px;
    transition: color .3s ease
}

form label:hover {
    color: #9dd5ebb3
}

form input[type=file] {
    background-color: #7ca5db;
    border: 2px solid #ffffff;
    border-radius: 5px;
    color: #0e0d0d;
    padding: 10px;
    transition: box-shadow .3s ease
}

.Auth_title {
    color: #0e0d0d;
    margin-bottom: 20px;
    text-align: center
}

.news-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center
}

.news-item {
    box-sizing: border-box;
    flex-basis: calc(25% - 30px);
    flex-grow: 1;
    flex-shrink: 1;
    margin-bottom: 16px;
    max-width: calc(25% - 30px)
}

.news-image {
    border-radius: 8px;
    display: block;
    height: auto;
    width: 100%
}

.news-title {
    color: #0e0d0d;
    display: block;
    font-weight: 700;
    margin-top: 8px;
    text-align: center;
    text-decoration: none
}

.btn-group {
    display: flex;
    justify-content: center;
    margin-bottom: 20px
}

.btn-custom {
    background-color: #7ca5db;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px #9dd5ebb3;
    color: #0e0d0d;
    cursor: pointer;
    display: inline-block;
    margin-right: 15px;
    padding: 10px 15px;
    text-decoration: none;
    transition: box-shadow .3s ease, transform .3s ease
}

.btn-custom:hover {
    box-shadow: 0 0 15px 4px #82c9e6b3;
    transform: scale(1.3)
}

.btn-custom.active {
    box-shadow: 0 0 15px 4px #9dd5ebb3, 0 0 0 2px #9dd5ebb3
}

.news-detail-container {
    align-items: flex-start;
    display: flex;
    gap: 20px;
    width: 80%;
    margin: 0 auto; /* Центрирование по горизонтали */
    justify-content: center
}

.news-inner-image {
    border-radius: 10px;
    height: auto;
    max-width: 250px
}

.news-detail-content {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.news-detail-content2 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
}

.news-detail-text {
    flex: 1 1 30%; /* Рекомендуется использовать `flex-basis` для начальной ширины */
    max-width: 30%;
    box-sizing: border-box; /* Учитывает паддинги и бордеры в ширину */
    border-radius: 10px;
    padding: 20px;
    background-color: #687565;
    box-shadow: 0 0 10px 2px #9dd5ebb3;
    margin: 10px; /* Добавьте отступы, если это необходимо */
}

.news-detail-text + .news-detail-text {
    margin-left: 5px; /* Если нужно пространство между блоками */
}

.separator-line {
    height: 2px;
    margin: 20px 0;
    width: 100%
}

.news-reaction-block {
    background-color: #7ca5db;
    margin-top: 20px;
    padding: 20px
}

.btn-news,
.news-reaction-block {
    border-radius: 10px;
    box-shadow: 0 0 10px 2px #9dd5ebb3
}

/* Стили для всех элементов с классом .btn-news */
.btn-news,
.btn-news:link,
.btn-news:visited {
    background-color: #7ca5db;
    border: none;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 15px;
    margin-right: 15px;
    padding: 10px 15px;
    text-decoration: none; /* Убираем подчеркивание для ссылок */
    transition: box-shadow .3s ease, transform .3s ease;
}

.btn-news:hover {
    box-shadow: 0 0 15px 4px #9dd5ebb3;
    color:black;
    transform: scale(1.3);
}

.btn-add-news {
    margin-left: 40px
}

.tooltip {
    cursor: pointer;
    display: inline-block;
    position: relative
}

.tooltip .tooltiptext {
    background-color: #7ca5db;
    border-radius: 6px;
    bottom: 125%;
    color: #0e0d0d;
    left: 50%;
    margin-left: -110px;
    opacity: 0;
    padding: 5px;
    position: absolute;
    text-align: center;
    transition: opacity .3s ease, visibility .3s ease;
    visibility: hidden;
    width: 220px;
    z-index: 1
}

.tooltip:hover .tooltiptext {
    opacity: 1;
    visibility: visible
}

#success-popup {
    background-color: #7ca5db;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px #9dd5ebb3;
    color: #0e0d0d;
    display: none;
    left: 50%;
    padding: 20px;
    position: fixed;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000
}

#success-popup.fade-in {
    animation: fadeIn .5s forwards
}

#success-popup.fade-out {
    animation: fadeOut .5s forwards
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

.reaction-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    transition: transform .2s
}

.reaction-img {
    height: 40px;
    object-fit: contain;
    width: 40px
}

.reaction-btn.active .reaction-img {
    filter: brightness(1.4);
    transform: scale(1.5)
}

.reaction-btn.active {
    color: #0e0d0d
}

.news-divider {
    background: linear-gradient(90deg, #9dd5ebb3, #ffdf0000);
    border: 0;
    height: 1px;
    margin: 20px 0
}

.btn-comment-news {
    background-color: #7ca5db;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px #9dd5ebb3;
    color: #0e0d0d;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 15px;
    margin-right: 15px;
    margin-top: 20px;
    padding: 10px 15px;
    text-decoration: none;
    transition: box-shadow .3s ease, transform .3s ease;
    width: 100%
}

.btn-comment-news:hover {
    box-shadow: 0 0 15px 4px #9dd5ebb3;
    transform: scale(1.1)
}

.comments-wrapper {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 10px;
    width: 80%;
}

#toggle-comments-btn {
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    width: 100%
}

#toggle-friend-btn {
     box-sizing: border-box;
    display: block;
    margin: 0 auto;
    width: 100%
}

#comments-section {
    box-sizing: border-box;
    display: none;
    width: 100%
}

.comment {
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px
}

.comment.reply {
    border-left: 1px solid #ddd;
    margin-left: 20px;
    padding-left: 10px
}

.btn-comment {
    background-color: #7ca5db;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px #9dd5ebb3;
    color: #0e0d0d;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 15px;
    margin-right: 15px;
    margin-top: 20px;
    padding: 10px 15px;
    text-decoration: none;
    transition: box-shadow .3s ease, transform .3s ease;
    width: 100%
}

.btn-comment:hover {
    box-shadow: 0 0 15px 4px #9dd5ebb3;
    transform: scale(1.1)
}

.comment-form {
    margin-top: 20px;
    width: 100%
}

.comment-form textarea {
    background-color: #7ca5db;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px #9dd5ebb3;
    color: #0e0d0d;
    margin-right: 15px;
    padding: 10px;
    resize: none;
    transition: box-shadow .3s ease, transform .3s ease;
    width: 80%
}

.comment-form textarea:focus {
    outline: none
}

.comment-form button {
    background-color: #7ca5db;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px #9dd5ebb3;
    color: #ffffff;
    cursor: pointer;
    padding: 10px;
    transition: box-shadow .3s ease, transform .3s ease;
    width: 18%
}

.comment-form button:hover {
    box-shadow: 0 0 15px 4px #9dd5ebb3;
    transform: scale(1.1)
}



.news-detail-content2 {
    display: flex;
    gap: 20px;
    min-width: 30%
}

.error-message {
    color: #0e0d0d;
    font-weight: 700
}

.profile-detail-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px
}

.profile-detail-content {
    align-items: flex-start;
    box-shadow: 0 0 10px 2px #9dd5ebb3;
    box-sizing: border-box;
    display: flex;
    gap: 20px;
    justify-content: center;
    max-width: 100%;
    padding: 20px;
    width: 600px
}

.profile-detail-left {
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 200px
}

.profile-detail-left img {
    height: auto;
    max-width: 100%;
    object-fit: cover
}

.profile-detail-right {
    display: flex;
    flex: 1 1;
    flex-direction: column;
    justify-content: flex-start
}

.profile-detail-right2 {
    display: flex;
    flex: 1 1;
    flex-direction: column;
    justify-content: flex-start
}

.profile-detail-text {
    padding: 10px
}

.profile-detail-text,
.profile-name {
    background-color: #7ca5db;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px #9dd5ebb3;
    color: #0e0d0d;
    width: 100%; /* Растягиваем блок по ширине */
    box-sizing: border-box;
}

.profile-name {
    cursor: pointer;
    padding: 10px 20px;
    text-decoration: none;
    transition: box-shadow .3s ease, transform .3s ease;
}

.profile-name:hover {
    box-shadow: 0 0 15px 4px #9dd5ebb3;
    transform: scale(1.1);
}

.alert,
.popup {
    background-color: #7ca5db;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px #9dd5ebb3;
    color: #0e0d0d;
    display: none;
    left: 50%;
    max-width: 80%;
    opacity: 0;
    padding: 20px;
    position: fixed;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: opacity .5s ease-in-out;
    z-index: 1000
}

.fade-in {
    opacity: 1
}

.fade-out {
    opacity: 0
}

.alert {
    display: block
}

.alert.error,
.alert.info,
.alert.success {
    background-color: #7ca5db
}

.alert button,
.popup button {
    background: #ffffff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px #9dd5ebb3;
    color: #0e0d0d;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    transition: box-shadow .3s ease, transform .3s ease
}

.alert button:hover,
.popup button:hover {
    background: #ffffff;
    box-shadow: 0 0 15px 4px #9dd5ebb3;
    transform: scale(1.1)
}

.popup-content {
    padding: 20px
}

.popup .close {
    color: #0e0d0d;
    cursor: pointer;
    font-size: 24px;
    font-weight: 700;
    position: absolute;
    right: 7px;
    top: 10px
}

.no-markers {
    color: #0e0d0d;
    list-style-type: none;
    text-decoration: none
}

.news-detail-container2 {
    align-items: flex-start;
    display: flex;
    gap: 20px;
    width: 80%;
    margin: 0 auto; /* Центрирование по горизонтали */
    justify-content: center
}

.profile-name2 {
    display: block;
    margin-top: 5px;
    text-align: center
}

.profile-filter-container {
    margin-bottom: 20px
}

.btn-filter {
    background-color: #7ca5db;
    border: none;
    color: #0e0d0d;
    cursor: pointer;
    padding: 10px 20px
}

.btn-filter:hover {
    background-color: #7ca5db;
    box-shadow: 0 0 15px 4px #9dd5ebb3
}

.profile-container-wrapper {
    display: flex;
    justify-content: center;
    margin: 20px;
    width: 80%;
}

.profile-container-list {
    flex: 1 1 40%; /* Рекомендуется использовать `flex-basis` для начальной ширины */
    max-width: 40%;
    box-sizing: border-box; /* Учитывает паддинги и бордеры в ширину */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px 2px #9dd5ebb3;
    margin: 10px; /* Добавьте отступы, если это необходимо */
}

.filters-list {
    width: 35%; /* Ширина контейнера для фильтров */
    box-shadow: 0 0 10px 1px #9dd5ebb3;
    display: flex;
    flex-direction: column; /* Элементы внутри будут расположены вертикально */
    align-items: center; /* Выровнять элементы по центру горизонтально */
    justify-content: center; /* Выровнять элементы по центру вертикально */

}

.profile-list-container {
    width: 65%; /* Ширина контейнера для списка групп */
    box-shadow: 0 0 10px 1px #9dd5ebb3;
    box-sizing: border-box;
}

/*.profile-list-container {
    display: flex;
    flex-direction: column;
}
.profiles-list {
    flex: 3 1
}*/

.btn-filter-list,
.btn-reset-list {
    background-color: #7ca5db;
    border: none;
    border-radius: 5px;
    color: #0e0d0d;
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    text-decoration: none;
    transition: box-shadow .3s ease, transform .3s ease;
}

.btn-reset-list {
    background-color: #7ca5db;
}

.center-text {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}

input[type=text_group] {
    background-color: #7ca5db;
    border: 2px solid #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px #9dd5ebb3;
    color: #0e0d0d;
    margin: 10px 0;
    max-width: 300px;
    padding: 10px;
    transition: box-shadow .3s ease;
    width: 100%
}

.group-members-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px
}

.group-member {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    width: 150px
}

.group-member-avatar,
.group-member-name,
.group-member-status {
    width: 100%
}

.profile-group-name {
    word-wrap: break-word;
    background-color: #7ca5db;
    border-radius: 5px;
    box-shadow: 0 0 5px 1px #9dd5ebb3;
    color: #0e0d0d;
    cursor: pointer;
    font-size: 14px;
    max-width: 100%;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .3s ease, transform .3s ease
}

.profile-group-name:hover {
    box-shadow: 0 0 10px 2px #9dd5ebb3;
    transform: scale(1.05)
}

.modal {
    background-color: #7ca5db;
    display: none;
    height: 100%;
    left: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1
}


.close {
    box-shadow: 0 0 10px 2px #9dd5ebb3;
    color: #0e0d0d;
    font-size: 40px;
    font-weight: 700;
    position: absolute;
    border-radius: 50%;
    right: 10px;
    top: 20px
    transition: box-shadow .3s ease, transform .3s ease
}

.close:focus,
.close:hover {
    box-shadow: 0 0 15px 4px #9dd5ebb3;
    color: #0e0d0d;
    cursor: pointer;
    text-decoration: none
}

#group-select {
    border: 2px solid #333;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px #9dd5ebb3;
    font-size: 16px;
    margin: 10px 0 30px;
    max-width: 100%;
    padding: 10px;
    transition: box-shadow .3s ease;
    width: 100%
}

#group-select,
#group-select option {
    background-color: #7ca5db;
    color: #0e0d0d
}

#confirm-delete-modal {
    background-color: #7ca5db;
    display: none;
    height: 100%;
    left: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1
}

.modal-content {
    background: #ffffff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px #9dd5ebb3;
    cursor: pointer;
    font-size: 16px;
    margin: 15% auto;
    max-width: 500px;
    padding: 20px;
    transition: box-shadow .3s ease, transform .3s ease;
    width: 80%
}

.comments-wrapper2 {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 10px;
    width: 80%;
}

.comments-wrapper3 {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 10px;
    width: 100%;
}

#toggle-group-btn {
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    width: 100%
}

#group-section {
    box-sizing: border-box;
    display: none;
    width: 100%
}



.center_btn {
    margin-bottom: 20px;
    text-align: center
}

.btn_photo {
    align-items: center;
    background-color: #7ca5db;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px #9dd5ebb3;
    color: #0e0d0d;
    display: flex;
    flex-direction: raw;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 20px;
    width: 78%;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .3s ease, transform .3s ease
}

.media-item {
    margin-bottom: 20px
}

.news-inner-image {
    display: block;
    height: 200px;
    margin-bottom: 10px;
    object-fit: cover;
    width: 200px
}

.news-inner-image2 {
    display: block;
    width: 100%; /* Изображение займет всю ширину контейнера */
    height: 100%; /* Изображение займет всю высоту контейнера */
    object-fit: cover; /* Обрезает изображение, чтобы сохранить его пропорции и заполнить блок */
    max-width: 200px; /* Максимальная ширина изображения */
    max-height: 200px; /* Максимальная высота изображения */
    margin-bottom: 10px;
    box-sizing: border-box; /* Чтобы padding не увеличивал размер */
}
.modal_photo {
    background-color: #7ca5db;
    display: none;
    height: 100%;
    left: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999
}

.modal_photo-content {
    display: block;
    margin: auto;
    max-width: 700px;
    width: 80%
}

.close-send-mail {
    box-shadow: 0 0 10px 2px #9dd5ebb3;
    color: #0e0d0d;
    font-size: 40px;
    font-weight: 700;
    position: absolute;
    border-radius: 50%;
    right: 10px;
    top: 20px
    transition: box-shadow .3s ease, transform .3s ease
}

.close-send-mail:focus,
.close-send-mail:hover {
    box-shadow: 0 0 15px 4px #9dd5ebb3;
    color: #0e0d0d;
    cursor: pointer;
    text-decoration: none
}

.mail-detail-content {
    align-items: flex-start;
    box-shadow: 0 0 10px 2px #9dd5ebb3;
    box-sizing: border-box;
    display: flex;
    gap: 20px;
    justify-content: center;
    max-width: 100%;
    padding: 20px;
    width: 600px
}

.mail-detail-left {
    align-items: center;
    display: flex;
    flex-basis: 19%;
    flex-direction: column;
    max-width: 19%
}

.mail-detail-right {
    display: flex;
    flex-basis: 79%;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 79%
}

.mail-detail-left img {
    height: auto;
    max-width: 100%;
    object-fit: cover
}

.mail-detail-text {
    padding: 10px
}

.mail-detail-text,
.mail-name {
    background-color: #7ca5db;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px #9dd5ebb3;
    color: #0e0d0d
}

.mail-name {
    cursor: pointer;
    padding: 20px;
    text-decoration: none;
    transition: box-shadow .3s ease, transform .3s ease
}

.mail-name:hover {
    box-shadow: 0 0 15px 4px #9dd5ebb3;
    transform: scale(1.1)
}

.btn_mail {
    align-items: center;
    background-color: #7ca5db;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px #9dd5ebb3;
    color: #0e0d0d;
    display: flex;
    flex-direction: raw;
    justify-content: center;
    margin: 10px 0;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .3s ease, transform .3s ease
}

.btn_mail:hover {
    box-shadow: 0 0 15px 4px #9dd5ebb3;
    transform: scale(1.1)
}

.mail-answer {
    align-items: left;
    display: flex;
    flex-direction: column;
    width: 100%
}

.mail-answer button {
    align-self: center; /* Центрирование кнопки по горизонтали */
}

.recipient_mail,
.send_mail,
.sender_mail {
    align-items: center;
    background-color: #7ca5db;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px #9dd5ebb3;
    color: #0e0d0d;
    display: flex;
    flex-direction: raw;
    justify-content: center;
    margin: 10px 0;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .3s ease, transform .3s ease
}

.recipient_mail:hover,
.send_mail:hover,
.sender_mail:hover {
    box-shadow: 0 0 15px 4px #9dd5ebb3;
    transform: scale(1.1)
}

.chat-container {
    align-items: center;
    background-color: #7ca5db;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px #9dd5ebb3;
    color: #0e0d0d;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px
}
/* Заголовок сообщений */
.mail-heading {
    width: 90%;
    margin: 10px auto;
    padding: 5px;
    height: 30px;
    line-height: 15px; /* Уменьшаем высоту строки */
    border: 1px solid #ccc;
    background-color: #fff;
    text-align: center;
    box-sizing: border-box; /* Учитываем padding */
}

/* Контейнер для сообщений */
/* Родительский контейнер с flexbox */
.mailbox-content-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрирует содержимое по горизонтали */
}

/* Заголовок сообщений */
.mail-heading {
    width: 90%;
    margin: 10px 0; /* Отступ сверху и снизу */
    padding: 5px;
    height: 30px;
    line-height: 15px; /* Уменьшена высота строки */
    border: 1px solid #ccc;
    background-color: #7ca5db;
    text-align: center;
    box-sizing: border-box; /* Учитываем padding */
    font-weight: bold;
    color:#fff;
}

/* Контейнер для сообщений */
.mail-messages {
    width: 90%;
    padding: 5px;
    border: 1px solid #ccc;
    min-height: 100px;
    background-color: #7ca5db;
    box-sizing: border-box;
    color:#fff;
}

.mail-item {
    border-bottom: 1px solid #fff;
}
/* Последний элемент сообщения без нижней границы */
.mail-item:last-child {
    border-bottom: none;
}


#chat-log {
    background-color: #7ca5db;
    border-radius: 10px;
    box-shadow: inset 0 0 10px 2px #9dd5ebb3;
    flex-grow: 1;
    margin-bottom: 20px;
    overflow-y: auto;
    padding: 10px;
    width: 60%
}

#chat-log div {
    background-color: #7ca5db;
    border-radius: 5px;
    box-shadow: 0 0 5px 1px #9dd5ebb3;
    margin-bottom: 10px;
    padding: 10px
}

.btb-update {
    background-color: #7ca5db;
    border: 2px solid #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px #9dd5ebb3;
    color: #ffffff;
    margin: 10px 0;
    padding: 10px;
    transition: box-shadow .3s ease;
    width: 100%;
    text-decoration: none; /* Убирает подчеркивание */
    color: inherit; /* Убирает стандартный цвет гиперссылки, наследует цвет текста */
}

.btb-update {
    cursor: pointer;
    width: 100%;
}

.btb-update:hover {
    box-shadow: 0 0 15px 4px #9dd5ebb3;
    text-decoration: none; /* Убирает подчеркивание при наведении, фокусе и нажатии */
    color: black; /* Сохраняет цвет */
}


.add-font {
    font-family: 'AmaticSC-Bold', sans-serif;
    font-size: 20px;
}

#custom-prompt-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* затемнение фона */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color:#ffffff; /* тёмный фон */
    color: #0e0d0d; /* белый текст */
    border-radius: 10px; /* закругление углов */
    box-shadow: 0 0 10px 2px #9dd5ebb3; /* жёлтая тень */
    padding: 20px; /* отступы */
    max-width: 80%; /* ограничение ширины */
    text-align: center; /* центрирование текста */
    position: relative; /* для позиционирования кнопок */
}

textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #7ca5db; /* тёмный фон для текстовой области */
    color: #0e0d0d; /* белый текст */
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px #9dd5ebb3;
    font-size: 16px;
}

button {

    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px #9dd5ebb3;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    margin-right: 10px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

button:hover {
    background: #ffffff;
    box-shadow: 0 0 15px 4px #9dd5ebb3;
    transform: scale(1.1); /* увеличение при наведении */
}

.sto {
     width: 100%;
}
/* Контейнер для друзей */


/* Колонки для друзей */
#friend-section {
    box-sizing: border-box;
    display: none;
    width: 100%
}


.friend-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px; /* Каждый элемент имеет фиксированную ширину */
    text-align: center;
}

.friend-item img {
    border-radius: 50%;
}

.profile-image {
    max-width: 90%; /* Убедитесь, что изображение не выходит за пределы блока */
    height: auto;
}


.news-detail-content3 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}


.news-container {
    display: flex;
    width: 80%;
    margin: 0 auto; /* Центрирование по горизонтали */
}

.news-container-content {
    display: flex;
    width: 100%;
}

.news-container-text {
    flex: 1 1 300px; /* Задайте начальную ширину блоков, замените на подходящее значение */
    max-width: 300px; /* Установите максимальную ширину блока */
    box-sizing: border-box;
    border-radius: 10px;
    padding: 20px;
    background-color: #7ca5db;
    box-shadow: 0 0 10px 2px #9dd5ebb3;
    margin: 10px;
}

#status-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Выровнять элементы по левому краю */
    gap: 10px; /* Добавить промежуток между чекбоксами, если нужно */
}

#status-form label {
    display: flex;
    align-items: center; /* Выровнять текст и чекбокс по вертикали */
}

#status-form input[type="checkbox"] {
    margin-right: 5px; /* Добавить отступ справа от чекбокса */
}

.news-container-text2 {
    flex: 1 1 30%; /* Рекомендуется использовать `flex-basis` для начальной ширины */
    max-width: 30%;
    box-sizing: border-box; /* Учитывает паддинги и бордеры в ширину */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px 2px #9dd5ebb3;
    margin: 10px; /* Добавьте отступы, если это необходимо */
}


/* Скрываем стандартный input для файла */
input[type="file"] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }

.custom-file-upload {
    position: relative;
    display: inline-block;
    cursor: pointer;
    background-color: #7ca5db;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px #9dd5ebb3;
    color: #fff;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}
  /* Стили для кастомной кнопки выбора файла */


.custom-file-upload:hover {
    background: #ffffff;
    color: #000;
    transform: scale(1.1); /* увеличение при наведении */
}


.add-color {
    color: white;
}

.add-bg:hover {
    background: #ffffff;
    color: #000;
}


/* Стиль для контейнера с подсказкой */
.tooltip2 {
    position: relative;
    display: inline-block;
}

/* Скрытая подсказка по умолчанию */
.tooltip2 .tooltiptext2 {
    visibility: hidden;
    width: 150px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Положение подсказки */
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

/* Отображение подсказки при наведении */
.tooltip2:hover .tooltiptext2 {
    visibility: visible;
    opacity: 1;
}


.profile-detail-content2 {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    gap: 20px; /* Отступы между группами */
    height: 20vh; /* 20% от высоты экрана */
    box-sizing: border-box; /* Чтобы padding учитывался в общей высоте */
}

.filters-list {
    width: 20%; /* Ширина контейнера для фильтров */
    padding: 10px;
}

.profile-list-container {
    width: 75%; /* Ширина контейнера для списка групп */
}

.profile-list-container {
    display: flex;
    flex-direction: column;
}

.profile-detail-content2 .profile-detail-left2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%; /* 20% от ширины родительского блока */
    padding: 5px;
    box-sizing: border-box; /* Чтобы padding не увеличивал ширину */
}

.profile-detail-content2 .profile-detail-right2 {
      display: flex;
    flex-direction: column;
    width: 100%; /* Занимаем всю ширину */
    box-sizing: border-box;
    padding: 10px;
}
.profile-detail-right2 p {
    margin: 5px 0; /* Уменьшаем отступы между элементами */
}

.filter-form {
    width: 100%; /* Ширина формы 100% от родительского контейнера */
    max-width: 300px; /* Максимальная ширина полей формы */
}

.filter-form input[type=text],
.filter-form input[type=email],
.filter-form input[type=number],
.filter-form select,
.filter-form textarea {
    width: 100%; /* Поля формы занимают всю ширину контейнера */
    max-width: 100%; /* Поля не будут превышать ширину контейнера */
    padding: 10px; /* Внутренний отступ */
    background-color: #7ca5db;
    border: 2px solid #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px #9dd5ebb3;
    color: #0e0d0d;
    margin: 0; /* Убираем внешние отступы */
    box-sizing: border-box; /* Учитываем padding и border */
}

#message-modal .modal-content {
    width: 50%;
    height: 50%;
    /* Дополнительные стили для message-modal */
}

/* Контейнер для каждой группы (левая и правая части) */
.profile-detail-section-new {
    display: flex;
    height: 25vh; /* Высота блока группы: 20% от высоты экрана */
    padding: 10px;
    gap: 20px; /* Отступ между левым и правым блоками */
    box-sizing: border-box;
}

/* Левый блок с изображением и названием */
.profile-detail-left-new {
    width: 20%; /* Левый блок занимает 20% ширины */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Распределяем изображение и название */
    box-sizing: border-box;
}

/* Контейнер для изображения */
.profile-image-container-new {
    flex: 1 1 70%; /* Занимает 70% высоты левого блока */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Изображение с фиксированным размером 200x200 пикселей */
.news-inner-image-new {
    width: 200px;
    height: 200px;
    object-fit: cover; /* Изображение обрезается, чтобы вписаться в заданные размеры */
    border-radius: 5px; /* Добавить округление углов, если нужно */
}

/* Контейнер для названия группы */
.profile-name-container-new {
    flex: 1 1 30%; /* Занимает 30% высоты левого блока */
    text-align: center;
}

/* Название группы */
.profile-name-new {
    text-decoration: none;
    font-size: 1.7vw; /* Шрифт адаптируется под ширину экрана */
    color: #fff;
    padding: 5px;
    background-color: #7ca5db;
    border-radius: 5px;
    box-shadow: 0 0 5px 1px #9dd5ebb3;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    white-space: nowrap; /* Запрещает перенос строки */
    overflow: hidden; /* Скрывает текст, выходящий за пределы контейнера */
    text-overflow: ellipsis; /* Добавляет многоточие в конце */
}

/* Увеличение тени при наведении */
.profile-name-container-new .profile-name-new:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px 2px #9dd5ebb3;
}


/* Правый блок с информацией */
.profile-detail-right-new {
    width: 70%; /* Правый блок занимает 70% ширины */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 5px 1px #9dd5ebb3;
}

/* Текст в правом блоке */
.profile-detail-right-new p {
    margin: 2px 0;
    font-size: 1.5vw; /* Текст адаптируется под ширину экрана */
    white-space: nowrap; /* Запрещает перенос строки */
    overflow: hidden; /* Скрывает текст, выходящий за пределы контейнера */
    text-overflow: ellipsis; /* Добавляет многоточие в конце */
}

/* Правый блок с информацией */
.profile-detail-right-new2 {
    width: 70%; /* Правый блок занимает 70% ширины */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 5px 1px #9dd5ebb3;
}

/* Текст в правом блоке */
.profile-detail-right-new2 p {
    margin: 0px 0;
    font-size: 1.5vw; /* Текст адаптируется под ширину экрана */
}

.btn-filters {
    border-radius: 10px;
    box-shadow: 0 0 10px 2px #9dd5ebb3
}
/* Стили для всех элементов с классом .btn-filters */
.btn-filters,
.btn-filters:link,
.btn-filters:visited {
    background-color: #7ca5db;
    border: none;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    text-decoration: none; /* Убираем подчеркивание для ссылок */
    transition: box-shadow .3s ease, transform .3s ease;
    padding: 5px;
}

.btn-filters:hover {
    box-shadow: 0 0 15px 4px #9dd5ebb3;
    background: #ffffff;
    color: black;
    transform: scale(1.3);
}

.btn-filters button:hover {
    box-shadow: 0 0 15px 4px #9dd5ebb3;
    background: #ffffff;
    color: black;
    transform: scale(1.3);
}

.btn-filter-list:hover {
    box-shadow: 0 0 15px 4px #9dd5ebb3;
    background: #ffffff;
    color: black;
    transform: scale(1.3);
}


.form-detail-container {
    display: flex;
    gap: 20px;
    width: 80%;
    margin: 0 auto; /* Центрирование по горизонтали */
    justify-content: center; /* Центрирование блоков */
}

(max-width: 768px) {
    .news-detail-container {
        flex-direction: column; /* Установите вертикальное размещение блоков */
    }

    .news-container-text {
        max-width: 100%; /* Блоки будут занимать всю ширину на маленьких экранах */
    }
}


.add-size {
    font-size: 2vw;
}


@media (max-width: 768px) {
    .profile-detail-section-new {
        height: 10vh;
    }
    .news-detail-container,
    .news-detail-container2,
    .form-detail-container,
    .comments-wrapper2,
    .comments-wrapper3,
    .comments-wrapper {
        width: 90%;
    }
    .news-detail-text,
    .news-container-text {
        flex: 1 1 100%; /* При меньшем экране блоки занимают 100% ширины */
        min-width: 100%; /* Гарантирует, что блоки занимают полную ширину на маленьких экранах */
    }
    .news-inner-image-new {
        width: 100px; /* Уменьшаем размер изображения для маленьких экранов */
        height: 100px;
    }

    {
    .filters-list {
        padding: 10px; /* Уменьшаем отступы */
    }

    .filter-form {
        display: flex;
        flex-direction: column;
        gap: 10px; /* Уменьшаем промежуток между элементами формы */
    }

    .filter-form label {
        font-size: 14px; /* Уменьшаем размер шрифта в лейблах */
    }

    .filter-form input,
    .filter-form select,
    .filter-form textarea {
        font-size: 14px; /* Уменьшаем размер шрифта в элементах формы */
        padding: 8px; /* Уменьшаем внутренние отступы */
    }

    .btn-filter-list {
        font-size: 14px; /* Уменьшаем размер шрифта в кнопках */
        padding: 8px 12px; /* Уменьшаем внутренние отступы в кнопках */
        height: auto; /* Автоматическая высота кнопок */
    }

    .center-text {
        text-align: center;
    }
}



/*# sourceMappingURL=main.54b50635.css.map*/